{% extends 'default_layout_view.html' %}

{% block title %}{{ table_name }} Table{% endblock %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{% if app.routes_prefix %}{{ app.routes_prefix }}{% else %}/{% endif %}">Home</a></li>
    <li class="active">{{ model_name }}</li>
</ol>
{% if is_search_enabled %}
{% if search_value %}
<form>
    <div class="input-group">
        <button href="/" class="btn btn-warning input-lg" type="submit">Clear Search</button>
    </div>
</form>
{% endif %}
<form class="bs-example">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-primary input-lg" type="submit">Go!</button>
        </span>
        <input type="text" class="form-control input-lg" name="search" {% if search_value %}value="{{ search_value }}"{% endif %} placeholder="{{ admin_model.search_description }}">
    </div>
    {% if search_modes|length > 0 %}
    <div class="radio">
        {% for mode_id, mode_name in search_modes %}
        <label class="radio-inline">
            <input type="radio" name="search_mode" id="{{ mode_id }}" value="{{ mode_id }}" {% if current_search_mode and current_search_mode == mode_id %}checked="checked"{% else %}{% if mode_id == default_search_mode %}checked="checked"{% endif %}{% endif %}> {{ mode_name }}
        </label>
        {% endfor %}
    </div>
    {% endif %}
</form>
{% endif %}
<nav>
    <ul class="pagination pagination-lg">
        <li {% if not has_previous %}class="disabled"{% endif %}>
            {% if has_previous %}<a aria-label="Previous" href="{{ previous_page_qs }}">{% endif %}
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li {% if not has_next %}class="disabled"{% endif %}>
            {% if has_next %}<a aria-label="Next" href="{{ next_page_qs }}">{% endif %}
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<div class="table-responsive">
    <table class="table table-striped">
    <tr>
        {% for property in properties %}
        <th>{{ property }}</th>
        {% endfor %}
    </tr>
    {% for entity, link in entities_and_links %}
    <tr>
        {% for property in properties %}
        <td>{% if properties_with_link and property in properties_with_link %}<a href="{{ link }}">{% endif %}{{ entity|getattr:property }}</a></td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>
<nav>
    <ul class="pagination pagination-lg">
        <li {% if not has_previous %}class="disabled"{% endif %}>
            {% if has_previous %}<a aria-label="Previous" href="{{ previous_page_qs }}">{% endif %}
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li {% if not has_next %}class="disabled"{% endif %}>
            {% if has_next %}<a aria-label="Next" href="{{ next_page_qs }}">{% endif %}
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
